.custom-link{
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.custom-link:hover{
    color: white;
    font-size: 16.3px;

}

.dark-mode{
    cursor: pointer;
} 
